[submodule "anarcrypt-blockchain/frontend/Metaverse-Developement/Blockchains/Blockchain-Development-Resources"]
	path = anarcrypt-blockchain/frontend/Metaverse-Developement/Blockchains/Blockchain-Development-Resources
	url = https://github.com/RastaDjuss/Blockchain-Development-Resources.git
